@{
    ViewData["Title"] = "Home Page";
}

<div class ="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class=" col-12 text-center">
                <h2 class="text-white py-2">Our ToDos</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-2">
                <a class="btn btn-primary mb-2 asp-controller="Home" asp-action="AddTodo">Create</a>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Published Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="table-striped">

                @if (ViewBag.Todos != null)
                {

                    @foreach (var todo in ViewBag.Todos)

                    {
                        <tr>
                            <td>@todo.Description</td>
                            <td>@todo.CreatedDate</td>
                            <td>
                                <a class="btn mb-2 asp-controller="Home" asp-controller="Home" asp-action="EditTodo" asp-route-id="@todo.ID" asp-action=""><i class="bi bi-pencil-square"></i></a>
                                <a class="btn mb-2 asp-controller="Home" asp-controller="Home" asp-action="DeleteTodo" asp-route-id="@todo.ID"><i class="bi-trash"></i></a>
                            </td>                            
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
  
        


</div>
