@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul>
        @if (ViewBag.Todos != null)
        {
            @foreach (var todo in ViewBag.Todos)
            {
                <li>@todo.Description</li>
                <li>@todo.CreatedDate</li>
            }
        }

    </ul>
</div>
